/* Hoja de estilos Heroes del Silencio */ 
@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap')

$light-color: rgb(255,255,255)
$light-bg-color: rgb(240, 240, 240)
$main-color: rgb(41, 43, 44)
$dark-color-opacity: rgb(0, 0, 0)
$accent-color:rgb(223, 67, 62)
$cursive-font: "Rock Salt", cursive
$sans-serif-font: "Roboto Condensed", sans-serif
$sans-serif-font-background: "Jersey 10 Charted", sans-serif

/*** Reset ***/
*
    box-sizing: border-box
    margin: 0
    padding: 0

/** reglas para sticky footer **/
html, body
    height: 100%    
body
    display: flex
    flex-direction: column
    background-color: $light-bg-color
    color: $main-color
main
    flex: 1 0 auto
footer
    flex-shrink: 0

/*** Reglas generales ***/
body
    font-family: $sans-serif-font
    font-weight: 400
h1
    font-size: 2rem
h2
    font-size: 1.7rem
h3
    font-size: 1.4rem
h4
    font-size: 1.1rem
p
    font-size: 0.6rem
    line-height: 1.5
ul, ol
    font-size: 0.7rem 
a
    text-decoration: none
    color: $light-color
    font-weight: bold
    :hover
        color: $accent-color
@media (min-width: 768px)
    h1
        font-size: 2.9rem
    h2
        font-size: 2.6rem
    h3
        font-size: 2rem
    li, p
        font-size: 1.4rem
    footer ul li
            font-size:1rem

/** multimedia responsive **/
.img-responsive
    width: 100%
    height: auto
    display: block
iframe
    width: 100%
    height: auto
    aspect-ratio: 16/9
    border: 0
/*** header y menu navegación ***/
header
    background-color: $dark-color-opacity
    .header
        display: flex
        align-items: center
        a img
            max-width: 64px
            width: 10vw
            margin: 1rem
        nav 
            flex-grow: 1 //para coger el espacio que queda
            display: inline-block
            ul 
                text-align: center
                list-style-type: none
                text-transform: uppercase
                li
                    margin: 0 0.4rem
                    display: inline-block
                    :hover
                        color: $accent-color
                .active 
                    a 
                        color: $accent-color
                    a::before
                        display: inline-block
                        vertical-align: middle
                        content: url(../img/heroes-vino-16x16.png) 
                        padding-right: .2rem    
/*** Footer ***/
footer
    background-color: $dark-color-opacity
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 1rem 
    ul
        list-style-type: none
        display: flex
        padding: .3rem .6rem
        li
            padding: 0.1rem .4rem
            img:hover
                opacity: 0.7
            a
                display: inline-block
    .legal li::after
        color: white
        content: "|"
        padding-left: 0.5rem
    .legal li:last-child::after
        content: ""
        padding-right: 0
        padding-left: 0
/**** Contenidos acotados *****/
.container-fluid
    width: 100%
    padding-right: 1rem
    padding-left: 1rem
    background-color: $light-color
    .article
        background-color: $light-color
@media (min-width: 768px)
    .container-fluid
        padding-right: 3.5rem
        padding-left: 3.5rem
@media (min-width: 992px)
    .container-fluid
        padding-right: 4.5rem
        padding-left: 4.5rem
@media (min-width: 1200px)
    .container-fluid
        max-width: 1140px
        margin-right: auto
        margin-left: auto
/*** página de Portada ***/
.home main
    background-image: url(../img/heroes-silencio-2.jpeg)
    background-repeat: no-repeat
    background-size: contain
    background-position: top

@media (min-width: 768px)
    .home main
        background-image: url(../img/heroes-silencio-2.jpeg)
        background-size: cover
        background-position: center

/*****   Pagina de presentacion/heroes  ****/
.heroes
    img
        padding: 1rem 0
        margin: 0 auto
        max-width: 600px
    h2
        padding: 1rem 0 .3rem 0
    h3
        padding: .5rem 0 .3rem 0
    ul
        line-height: 1.5
        margin-left: 1rem
    iframe
        padding: 1rem 0 0.3rem 0

/** Página de Categoría ***/
.flex-covers
    display: flex
    flex-direction: row
    justify-content: center
    align-items: stretch
    gap: 2.5rem
    flex-wrap: wrap
    article
        flex: 0 1 40%

// .band-member
//     display: flex
//     justify-content: center
//     gap: 1rem
//     .card-content,  .card-img
//         flex-basis: 20%
// :nth-child(even).band-member .card-content
//         color: red
//         background-color: red
//         order: 1
// :nth-child(odd).band-member .card-img
//         color: red
//         background-color: green
//         order: 2
.grid-videos>article
    margin-bottom: 3rem
    border: 1px solid blue

@media (min-width: 768px)
    .flex-covers
        gap: 1.5rem
        article
            flex: 0 1 20%
    .band-member
        display: flex
        justify-content: center
        gap: 1rem
        .card-content,  .card-img
            flex-basis: 40%
    :nth-child(even).band-member .card-content
        color: red
        background-color: red
        order: 1
    :nth-child(odd).band-member .card-img
        color: red
        background-color: green
        order: 2