/* Hoja de estilos Heroes del Silencio */ 
@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap')

$light-color: rgb(255,255,255)
$light-bg-color: rgb(240, 240, 240)
$main-color: rgb(41, 43, 44)
$dark-color-opacity: rgb(0, 0, 0)
$accent-color:rgb(223, 67, 62)
$button-color:rgb(135, 38, 34)
$cursive-font: "Rock Salt", cursive
$sans-serif-font: "Roboto Condensed", sans-serif
$sans-serif-font-background: "Jersey 10 Charted", sans-serif

/*** Reset ***/
*
    box-sizing: border-box
    margin: 0
    padding: 0

/** reglas para sticky footer **/
html, body
    height: 100%    
body
    display: flex
    flex-direction: column
    background-color: $light-bg-color
    color: $main-color
main
    flex: 1 0 auto
footer
    flex-shrink: 0

/*** Reglas generales ***/
body
    font-family: $sans-serif-font
    font-weight: 400
h1
    font-size: 2rem
h2
    font-size: 1.7rem
h3
    font-size: 1.4rem
h4
    font-size: 1.1rem
p,time
    font-size: 0.8rem
    line-height: 1.5
figcaption
    font-size: 0.6rem
ul, ol
    font-size: 0.7rem 
a
    text-decoration: none
    color: $light-color
    font-weight: bold
    :hover
        color: $accent-color
@media (min-width: 768px)
    h1
        font-size: 2.9rem
    h2
        font-size: 2.6rem
    h3
        font-size: 2rem
    li, p, time
        font-size: 1.2rem
    footer ul li
            font-size:1rem
    figcaption
        font-size: 0.9rem

/** multimedia responsive **/
.img-responsive
    width: 100%
    height: auto
    display: block
iframe
    width: 100%
    height: auto
    aspect-ratio: 16/9
    border: 0
/*** header y menu navegación ***/
header
    background-color: $dark-color-opacity
    .header
        display: flex
        align-items: center
        a img
            max-width: 64px
            width: 10vw
            margin: 1rem
        nav 
            flex-grow: 1 //para coger el espacio que queda
            display: inline-block
            ul 
                text-align: center
                list-style-type: none
                text-transform: uppercase
                li
                    margin: 0 0.4rem
                    display: inline-block
                    :hover
                        color: $accent-color
                .active 
                    a 
                        color: $accent-color
                    a::before
                        display: inline-block
                        vertical-align: middle
                        content: url(../img/heroes-vino-16x16.png) 
                        padding-right: .2rem    
/*** Footer ***/
footer
    background-color: $dark-color-opacity
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 1rem 
    ul
        list-style-type: none
        display: flex
        padding: .3rem .6rem
        li
            padding: 0.1rem .4rem
            img:hover
                opacity: 0.7
            a
                display: inline-block
            :hover
                color: $accent-color
    .legal li::after
        color: white
        content: "|"
        padding-left: 0.5rem
    .legal li:last-child::after
        content: ""
        padding-right: 0
        padding-left: 0
/**** Contenidos acotados *****/
.container-fluid
    width: 100%
    padding-right: 1rem
    padding-left: 1rem
    background-color: $light-color
    .article
        background-color: $light-color
@media (min-width: 768px)
    .container-fluid
        padding-right: 3.5rem
        padding-left: 3.5rem
@media (min-width: 992px)
    .container-fluid
        padding-right: 4.5rem
        padding-left: 4.5rem
@media (min-width: 1200px)
    .container-fluid
        max-width: 1140px
        margin-right: auto
        margin-left: auto
/*** página de Portada ***/
.home main
    background-image: url(../img/heroes-silencio-2.jpeg)
    background-repeat: no-repeat
    background-size: contain
    background-position: top

@media (min-width: 768px)
    .home main
        background-image: url(../img/heroes-silencio-2.jpeg)
        background-size: cover
        background-position: center

/*****   Pagina de presentacion/heroes  ****/
.heroes
    img
        padding: 1rem 0
        margin: 0 auto
        max-width: 600px
    h2
        padding: 1rem 0 .3rem 0
    h3
        padding: .5rem 0 .3rem 0
    ul
        line-height: 1.5
        margin-left: 1.5rem
    iframe
        padding: 1rem 0 0.3rem 0

/** Página de publicaciones/Categoría ***/
.publicaciones
    h1
        font-family: $cursive-font
    h2
        padding: 1rem 0 1.3rem 0
    h3
        padding: .5rem 0 .3rem 0
    section
        padding: 1rem
        margin: 1rem 0
    section:nth-child(odd) 
        background-color: $light-bg-color
.flex-covers
    display: flex
    flex-direction: row
    justify-content: center
    align-items: stretch
    gap: 2.5rem
    flex-wrap: wrap
    article
        flex: 0 1 40%
        .card-img img:hover
            opacity: 0.7
    .card-content
        padding: 0.7rem
        text-align: center
        time
            font-weight: 200
.band-member
    background-color: $dark-color-opacity
    color: $light-color
    margin: 2rem 0
    padding: 0.5rem 0
    figcaption
        font-weight: 200
        text-align: center
    .card-content
        padding: 1rem
        p
            font-weight: 200
        .member
            font-weight: 700

.videos>article
    margin-bottom: 3rem

@media (min-width: 768px)
    .flex-covers
        gap: 1.5rem
        article
            flex: 0 1 20%
    .band-member
        display: flex
        justify-content: center
        gap: 1rem
        .card-content,  .card-img
            flex-basis: 40%
    :nth-child(even).band-member .card-content
        order: 1
    :nth-child(odd).band-member .card-img
        order: 2

/** Página de album avalancha/detalle ***/
.detalle-album
    h1
        font-family: $cursive-font
        margin-left: 1rem
    h2
        padding: 1rem 0 1.3rem 0
        text-align: center
        font-family: $cursive-font
        color: $accent-color
    .card-album
        background-color: $light-bg-color
        margin-bottom: 1rem 
    figure
        margin: 0 auto
        max-width: 500px
    p
        padding: 1rem
    .publicacion
        text-align: center
        padding: 1rem
    time
        color: $accent-color
        font-family: $cursive-font
    figcaption
        text-align: right
    h3
        padding: .5rem 0 .3rem 0
    section
        padding: 1rem
        margin: 1rem 0
    section:nth-child(odd) 
        background-color: $light-bg-color
    ul
        margin-left: 1.8rem
        list-style-type: none
        li
            padding: 1rem
            border-bottom: 2px solid $light-bg-color
        .btnLetra
            background-color: $button-color
            padding: .1rem .4rem
            border-radius: 4px 
            :hover
                background-color: $accent-color
.flex-otros
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: stretch
    gap: 1.5rem
    flex-wrap: wrap
    article
        flex: 0 1 40%
        .card-img img:hover
            opacity: 0.7
    .card-content
        // padding: 0.7rem
        text-align: center
        time
            font-weight: 200
@media (min-width: 768px)
    .detalle-album
        time
            font-size: 1.8rem
    .flex-otros article
        flex: 0 1 20%